<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"> 
    <title>Add Products</title>
</head>
<body>
    
    <form>
        <div>
            <label for="file">Add Products:</label>
            <input type="file" name="file" id="prod_files">
        </div>
        <button type="submit">Submit</button>
    </form>

    <br></br>
    <div id="delete_all">
        <label for="delete">Delete All Products :</label>
        <button id="delete_btn" onclick="Sure()">Delete</button>
    </div>
<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', (e) => {
    
    e.preventDefault();


    const files = document.getElementById("prod_files");
    const formData = new FormData();


    for(let i =0; i < files.files.length; i++) {
        formData.append("files", files.files[i]);
    }
    //console.log(...formData)

    fetch('/add_product', {
        method: 'POST',
        body: formData, 
    })
    .then(res => res.json())
    .then(data =>{
        var d = JSON.stringify(data)
        var x = JSON.parse(d)
       alert(x.error)
    })
})

function Sure(){
    const del = document.getElementById("delete_all")
    let sure = `<label for="delete">Are you sure:</label>
                <button id="Yes" onclick="delete_all()">Yes</button>
                <button id="Cansel" onclick="reload()">Cancel</button>
                `

    del.innerHTML = `${sure}`
}

function reload(){
    location.reload();
}

function delete_all(){
    fetch('/delete_products', {
        method: 'POST',
    }).then(alert("All Products deleted"))
    .then(location.reload())
}

</script>

</body>
</html>