<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"> 
    <link rel="stylesheet" href="/add_products.css">
    <link rel="icon" href="/icons/bangiconpurple.png" type="image/x-icon"/>
    <title>Add Prices</title>
</head>
<body>
    <img class="logo" src="banglogopurple.png" alt="logo">
    <br><br><br>
    <form>
        <div>
            <label for="prices">Add Prices:</label>
            <input type="file" name="prices" id="prices">
        </div>
        <button type="submit">Submit</button>

    </form>

<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', (e) => {
    
    e.preventDefault();


/////////////////////////////////////////////////////
    const Price = document.getElementById("prices");
    const priceData = new FormData();
  
    for(let i =0; i < Price.files.length; i++) {
        priceData.append("Price", Price.files[i]);
    }
    console.log(...priceData)
 ////////////////////////////////////////////////


    fetch('/add_product_prices', {
        method: 'POST',
        body: priceData, 
    })
    .then(res => res.json())
    .then(data =>{
        var d = JSON.stringify(data)
        var x = JSON.parse(d)
       alert(x.error)
    })


})

</script>

</body>
</html>