<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"> 
    <link rel="stylesheet" href="/add_products.css">
    <link rel="icon" href="/icons/bangiconpurple.png" type="image/x-icon"/> 
    <title>Add Products</title>
</head>
<body>
    <img class="logo" src="banglogopurple.png" alt="logo">
    <br><br><br>
    <a href="/user_home">Home page</a> 
    <form>
        <div>
            <label for="gateg_subcat">Add Categ Subcat:</label>
            <input type="file" name="gateg_subcat" id="gateg_subcat">
        </div>
        <button type="submit">Submit</button>

    </form>

    <br></br>
    <div id="delete_all">
        <label for="delete">Delete All Categories :</label>
        <button id="delete_btn" onclick="Sure()">Delete</button>
    </div>
<script>
    //Add an EventListener to the file apload form on submit
    const form = document.querySelector('form');
    form.addEventListener('submit', (e) => {
    
    e.preventDefault();


    const Categ = document.getElementById("gateg_subcat");
    const categData = new FormData();
  
    //Get All uploaded files 
    for(let i =0; i < Categ.files.length; i++) {
        categData.append("Categ", Categ.files[i]);
    }
 

    //Sends a Post request to server with the file data as body
    fetch('/add_categories_subcat', {
        method: 'POST',
        body: categData, 
    })
    .then(res => res.json())
    .then(data =>{
        var d = JSON.stringify(data)
        var x = JSON.parse(d)
       alert(x.error)
    })
    
})

//Makes the user confirm if he wants to delete everything
function Sure(){
    const del = document.getElementById("delete_all")
    let sure = `<label for="delete">Are you sure:</label>
                <button id="Yes" onclick="delete_all()">Yes</button>
                <button id="Cansel" onclick="reload()">Cancel</button>
                `

    del.innerHTML = `${sure}`
}

//Reloads the page 
function reload(){
    location.reload();
}

//Sends a Post request to server and deletes every category/subcategory
function delete_all(){
    fetch('/delete_categories', {
        method: 'POST',
    }).then(alert("All Categories deleted"))
    .then(location.reload())
}

</script>

</body>
</html>