<!DOCTYPE html>

<html>
    <head>

    </head>

    <body>
        <div class="profile">
            <a href="/user_home">Go home</a>
            <form action="/user_profile_username?_method=PUT" method="POST">
                <!-- Username: <%= name%> -->
                <input type="text" name="username" placeholder="User name" required>
                <button>Change username</button>
            </form>
            <form action="/user_profile_password?_method=PUT" method="POST">
                <input type="password" name="password" placeholder="Password" required>
                <button>Change password</button>
            </form>
        </div>
        <div class="offers" id="offers"></div>

        <script>
            var offers = <%- JSON.stringify(offers) %>;

            function showOffers(){
                let showoffers = ``
                for(x of offers){
                    let temp = `<div> Προϊόν: ${x.product} </div>
                        <div> Ημερομηνία Καταχώρησης: ${x.date} </div>
                        <div> Likers: ${x.likes} </div>
                        <div> Dislikes: ${x.dislikes} </div>
                        <br></br> `
                    showoffers = showoffers.concat(temp)
                }
                var x = document.getElementById("offers")
                x.innerHTML = `${showoffers}`
            }
            showOffers()

        </script>

    </body>
</html>