<!DOCTYPE html>

<html>
    <head>

    </head>

    <body>
        <div class="profile">
            <a href="/user_home">Go home</a>
            <form action="/user_profile_username?_method=PUT" method="POST">
                <!-- Username: <%= name%> -->
                <input type="text" name="username" placeholder="User name" required>
                <button>Change username</button>
            </form>
            <form action="/user_profile_password?_method=PUT" method="POST">
                <input type="password" name="password" placeholder="Password" required>
                <button>Change password</button>
            </form>
        </div>
    </body>
</html>